@model ClientViewModel


<div>
    <h3>Clients</h3>
@if (Model.Clients.Any())
{
    <ul>
    @foreach (var client in Model.Clients)
    {
        <li>
            <form method="POST" asp-route-id="@client.ClientId" asp-action="Delete">
                @(client.ClientName + " (" + client.ClientId + ")")
                <a asp-controller="Client" asp-action="Edit" asp-route-id="@client.ClientId">Edit</a>
                <button class="btn btn-link" type="submit">Delete</button>
            </form>
        </li>
    }
    </ul>
}
    <form method="POST" asp-controller="Client" asp-route-id="0" asp-action="Create">
        <div class="form-group">
            <label for="Id">New Client Id</label>
            <input name="Id" class="form-control" placeholder="New Client Id" />                    
        </div>
        <div class="form-group">
            <label for="Name">New Client Name</label>
            <input name="Name" class="form-control" placeholder="New Client Name" />                    
        </div>
        <button class="btn btn-default" type="submit">Create</button>
    </form>
</div>