@model UserViewModel


<div>
    <h3>Users (@Model.Count)</h3>
@if (Model.Users.Any())
{
    <ul>
    @foreach (var user in Model.Users)
    {
        <li>
            <form method="GET" asp-route-id="@user.Id" asp-action="Display">
                @(user.Email)
                <button class="btn btn-link" type="submit">Display</button>
            </form>
        </li>
    }
    </ul>
}
</div>