@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@functions {
    public class ConfirmEmailModel : PageModel 
    {
        readonly UserManager<ApplicationUser> _userManager;
        public ConfirmEmailModel(
            UserManager<ApplicationUser> userManager
        )
        {
            _userManager = userManager;
        }

        public string State { get; set; }
        public async Task<IActionResult> OnGet(
            string userId, 
            string code
        )
        {
            if (userId == null || code == null)
            {
                return RedirectToPage(
                    "/Index"
                );
            }
            var user = await _userManager.FindByIdAsync(
                userId
            );
            if (user == null)
            {
                throw new ApplicationException(
                    $"Unable to load user with ID '{userId}'."
                );
            }
            var result = await _userManager.ConfirmEmailAsync(
                user, 
                code
            );
            if(!result.Succeeded)
            {
                return RedirectToPage(
                    "/Error/Index"
                );
            }

            return Page();
        }
    }
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
