@page
@model ForgotPasswordViewModel
@using MediatR;
@using EventHorizon.Identity.AuthServer.Email.Send;
@{
    ViewData["Title"] = "Forgot your password?";
}

@functions {
    public class ForgotPasswordViewModel : PageModel 
    {
        readonly IMediator _mediator;
        readonly UserManager<ApplicationUser> _userManager;
        readonly IEmailSender _emailSender;
        public ForgotPasswordViewModel(
            IMediator mediator,
            UserManager<ApplicationUser> userManager,
            IEmailSender emailSender
        )
        {
            _mediator = mediator;
            _userManager = userManager;
            _emailSender = emailSender;
        }


        [Required]
        [EmailAddress]
        [BindProperty]
        public string Email { get; set; }
        
        [ValidateAntiForgeryToken]  
        public async Task<IActionResult> OnPost()
        {
            if (ModelState.IsValid)
            {
                var user = await _userManager.FindByEmailAsync(Email);
                if (user == null || !(await _userManager.IsEmailConfirmedAsync(user)))
                {
                    // Don't reveal that the user does not exist or is not confirmed
                    return RedirectToPage("./ForgotPasswordConfirmation");
                }
                var code = await _userManager.GeneratePasswordResetTokenAsync(
                    user
                );
                await _mediator.Send(
                    new SendPasswordResetEmail(
                        Email,
                        Url.ResetPasswordCallbackLink(
                            user.Id, 
                            code, 
                            Request.Scheme
                        )
                    )
                );
                return RedirectToPage("./ForgotPasswordConfirmation");
            }

            // If we got this far, something failed, redisplay form
            return Page();
        }
    }
}

<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
