@page
@model ForgotPasswordConfirmationModel;
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@functions {
    public class ForgotPasswordConfirmationModel : PageModel 
    {
        public IActionResult OnGet()
        {
            return Page();
        }
    }
}

<h2>@ViewData["Title"]</h2>
<a asp-page="./Login" title="Go back to the login page.">< Back to login</a>
<p>
    Please check your email to reset your password.
</p>
