@page
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@functions {
    public class ForgotPasswordViewModel : PageModel 
    {
        private readonly UserManager<ApplicationUser> _userManager;
        private readonly IEmailSender _emailSender;
        public ForgotPasswordViewModel(
            UserManager<ApplicationUser> userManager,
            IEmailSender emailSender
        )
        {
            _userManager = userManager;
            _emailSender = emailSender;
        }


        [Required]
        [EmailAddress]
        [BindProperty]
        public string Email { get; set; }
        
        [ValidateAntiForgeryToken]  
        public async Task<IActionResult> OnPost()
        {
            if (ModelState.IsValid)
            {
                var user = await _userManager.FindByEmailAsync(Email);
                if (user == null || !(await _userManager.IsEmailConfirmedAsync(user)))
                {
                    // Don't reveal that the user does not exist or is not confirmed
                    return RedirectToPage("./ForgotPasswordConfirmation");
                }

                // For more information on how to enable account confirmation and password reset please
                // visit https://go.microsoft.com/fwlink/?LinkID=532713
                var code = await _userManager.GeneratePasswordResetTokenAsync(
                    user
                );
                var callbackUrl = Url.ResetPasswordCallbackLink(
                    user.Id, 
                    code, 
                    Request.Scheme
                );
                await _emailSender.SendEmailAsync(
                    "forgot_password",
                    Email, 
                    "Reset Password",
                    $"Please reset your password by clicking here: <a href='{callbackUrl}'>link</a>"
                );
                return RedirectToPage("./ForgotPasswordConfirmation");
            }

            // If we got this far, something failed, redisplay form
            return Page();
        }
    }
}

<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
