@page
@using EventHorizon.Identity.AuthServer.Account.Models;
@model LoggedOutViewModel;

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

@functions {
    public class LoggedOutViewModel : PageModel
    {
        [FromQuery]
        public string PostLogoutRedirectUri { get; set; }
        [FromQuery]
        public string ClientName { get; set; }
        [FromQuery]
        public string SignOutIframeUrl { get; set; }

        [FromQuery]
        public bool AutomaticRedirectAfterSignOut { get; set; } = false;

        [FromQuery]
        public string LogoutId { get; set; }
        [FromQuery]
        public string ExternalAuthenticationScheme { get; set; }
        public bool TriggerExternalSignout => ExternalAuthenticationScheme != null;
    }
}

<div class="page-header logged-out">
    <h1>
        Logout
        <small>You are now logged out</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the
            <span>@Model.ClientName</span> application.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>
@section scripts
{
    
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
