@page
@model ResetPasswordViewModel;
@using EventHorizon.Identity.AuthServer.Account.Models;
@{
    ViewData["Title"] = "Reset password";
}

@functions {
    [AllowAnonymous]
    public class ResetPasswordViewModel : PageModel 
    {
        private readonly UserManager<ApplicationUser> _userManager;
        public ResetPasswordViewModel(
            UserManager<ApplicationUser> userManager
        )
        {
            _userManager = userManager;
        }
        
        public void OnGet(
            string code
        )
        {
            if (code == null)
            {
                throw new ApplicationException("A code must be supplied for password reset.");
            }
            Code = code;
        }

        [BindProperty]
        public string Code { get; set; }
        [BindProperty]
        public ResetPasswordModel Data { get; set; }

        [ValidateAntiForgeryToken]
        public async Task<IActionResult> OnPost()
        {
            if (!ModelState.IsValid)
            {
                return Page();
            }
            var user = await _userManager.FindByEmailAsync(Data.Email);
            if (user == null)
            {
                // Don't reveal that the user does not exist
                return RedirectToPage("./ResetPasswordConfirmation");
            }
            var result = await _userManager.ResetPasswordAsync(
                user, 
                Code, 
                Data.Password
            );
            if (result.Succeeded)
            {
                return RedirectToPage("./ResetPasswordConfirmation");
            }
            AddErrors(result);
            return Page();
        }

        private void AddErrors(
            IdentityResult result
        )
        {
            foreach (var error in result.Errors)
            {
                ModelState.AddModelError(
                    string.Empty, 
                    error.Description
                );
            }
        }
    }
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Data.Email"></label>
                <input asp-for="Data.Email" class="form-control" />
                <span asp-validation-for="Data.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.Password"></label>
                <input asp-for="Data.Password" class="form-control" />
                <span asp-validation-for="Data.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.ConfirmPassword"></label>
                <input asp-for="Data.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Data.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
