@page
@model ResetPasswordConfirmationModel;
@{
    ViewData["Title"] = "Reset password confirmation";
}

@functions {
    public class ResetPasswordConfirmationModel : PageModel 
    {
        public void ResetPasswordConfirmation()
        {
        }
    }
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. 
</p>
<a asp-page="./Login">Login</a>
