:root {
    /* Alpha Banner */
    --alpha-banner-color: black;
    --alpha-banner-background-color: white;
    --alpha-banner-shadow-color: rgb(204, 219, 232);
    --alpha-banner-shadow2-color: rgba(255, 255, 255, 0.5);
}

    :root .--dark-theme {
        --alpha-banner-background-color: lightgray;
        --alpha-banner-shadow-color: rgb(68, 72, 75);
        --alpha-banner-shadow2-color: rgba(36, 36, 36, 0.726);
    }

body {
    margin-bottom: 65px;
}

.navbar-header {
    position: relative;
    top: -4px;
}

.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}

.icon {
    position: relative;
    top: -10px;
}

.logged-out iframe {
    display: none;
    width: 0;
    height: 0;
}

.page-consent .client-logo {
    float: left;
}

    .page-consent .client-logo img {
        width: 80px;
        height: 80px;
    }

.page-consent .consent-buttons {
    margin-top: 25px;
}

.page-consent .consent-form .consent-scopecheck {
    display: inline-block;
    margin-right: 5px;
}

.page-consent .consent-form .consent-description {
    margin-left: 25px;
}

    .page-consent .consent-form .consent-description label {
        font-weight: normal;
    }

.page-consent .consent-form .consent-remember {
    padding-left: 16px;
}

.alpha-banner {
    color: var(--alpha-banner-color);
    background-color: var(--alpha-banner-background-color);
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 0.8rem;
    box-shadow: var(--alpha-banner-shadow-color) 3px 3px 6px 0px inset, var(--alpha-banner-shadow2-color) -3px -3px 6px 1px inset;
}

.--font-bold {
    font-weight: bold;
}

.--font-underline {
    text-decoration: underline;
}

.--header-font-size {
    font-size: 1rem;
}

.--remove-spacing {
    padding: 0;
    margin: 0;
}
