@page
@model EventHorizon.Identity.AuthServer.StatusCode.IndexModel

@{
    ViewData["Title"] = "Status Code @Model.ErrorStatusCode";
}
<h1>Invalid Request</h1>
<h2 class="text-danger">Status Code: @Model.ErrorStatusCode</h2>
<h2 class="text-danger"> @Model.ErrorMessage</h2>

@if (Model.ShowRequestId)
{
    <h3>Request Id</h3>
    <p>
        <code>@Model.RequestId</code>
    </p>
}